.preview-container {
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.table-wrapper {
  max-height: 500px;
  overflow: auto;
  margin-top: 1rem;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background-color: #d7eaff;
  position: sticky;
  top: 0;
}

td, th {
  padding: 0.5rem;
  border: 1px solid #999;
  font-size: 0.85rem;
  white-space: nowrap;
}

.preview-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.ng-dropdown-panel {
  white-space: normal;
  height: fit-content;
}

.distribution-selectable-row:hover {
  cursor: pointer;
  background-color: #e9f5ff; /* Un sutil color azul al pasar el mouse */
}




.custom-context-menu {
  position: absolute; /* Usamos absolute como en tu ejemplo */
  display: none;      /* El menú empieza oculto */
  z-index: 1050;
  min-width: 220px;
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  transition: all 0.1s ease-in-out;
  font-size: 0.9rem;
  cursor: pointer; /* Añadimos cursor pointer como en tu ejemplo */
}

.context-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.2rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.context-item:hover {
  background-color: #f8f9fa;
  color: #1e2125;
}

.context-item.disabled,
.context-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

.context-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #dee2e6;
}