/* RESET DE BOOTSTRAP ACCORDION */
:host ::ng-deep .accordion-button {
  font-size: 0.9rem; 
  /* Clave: Quitamos padding nativo para usar grid system interno */
  padding: 0 !important; 
  color: #212529;
  background-color: transparent;
  box-shadow: none !important;
}

/* Hover Efecto */
:host ::ng-deep .accordion-button:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

/* Estado Activo (Verde Suave) */
:host ::ng-deep .accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: #e3f8ea;
  background-color: var(--bs-accordion-active-bg);
  color: #0f5132;
}

/* Flecha alineada */
:host ::ng-deep .accordion-button::after {
  margin-right: 1rem;
  background-size: 0.8rem;
}

/* Utilidades */
.smaller-text {
    font-size: 0.8rem;
}

.hover-bg-gray-50:hover {
    background-color: #f8f9fa;
}

.cursor-pointer {
    cursor: pointer;
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}